<div id="slideshow">
    <div class="slide-wrapper">
        <div class="slide">
            <img src="https://thoibaonganhang.vn/stores/news_dataimages/minhvl/112020/18/11/3757_iphone-12-pro-max-1605645432-4093-1605645619.jpg">
        </div>
        <div class="slide">
            <img src="https://thoibaonganhang.vn/stores/news_dataimages/minhvl/112020/18/11/3757_iphone-12-pro-max-1605645432-4093-1605645619.jpg">
        </div>
        <div class="slide">
            <img src="https://thoibaonganhang.vn/stores/news_dataimages/minhvl/112020/18/11/3757_iphone-12-pro-max-1605645432-4093-1605645619.jpg">
        </div>
        <div class="slide">
            <img src="https://thoibaonganhang.vn/stores/news_dataimages/minhvl/112020/18/11/3757_iphone-12-pro-max-1605645432-4093-1605645619.jpg">
        </div>
    </div>
</div>