@model List<Models.EF.Image>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="all-products">
    <p class="products">All products</p>
</div>
<div class="phones" style="height: auto; width: 100%; display: flex; justify-content: center; align-items: center;">
    <ul class="phone__list">
        @foreach (var item in Model)
        {
            if (item.MainPic == true)
            {
                <li class="phone__item">
                    <a href="/ProductDetail/Index/@item.ProductID">
                        <img src="@item.Link" class="img-items" style="height: 220px">
                        <p class="item-name">@item.Product.Name</p>
                        <div class="item-price">
                            <span class="new-price">@((int)(item.Product.Price - (item.Product.Price * (decimal)0.1))) đ</span>
                            <span class="old-price"><i>@item.Product.Price đ</i></span>
                        </div>
                    </a>
                    <div class="phone-item-btn">
                        <form action="/Cart/AddToCart/@item.ProductID">
                            <button type="submit">Mua hàng</button>
                        </form>
                    </div>
                </li>
            }
        }
    </ul>
</div>