<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="~/Assets/Admin/css/main.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="dashboard">
                <div class="left">
                    <span class="left__icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <div class="left__content">
                        @Html.Partial("_SideBar")
                    </div>
                </div>
                <div class="right">
                    <div class="right__content">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Assets/Admin/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>